#imgproducto {
    transition: brightness 0.15s;
}

#imgproducto:hover {
    filter: brightness(150%);
}

#filtroproducto {
    transition: brightness 0.15s;
}

#filtroproducto:hover {
    filter: brightness(50%);
}

@media only screen and (max-width: 750px) {
    #descripcion {
        display:block;
    }
}

@media only screen and (min-width: 751px) {
    #descripcion {
        display:flex;
    }
}
