@media only screen and (max-width: 1535px) {
    #productos-grande {
        display: none;
    }
    #productos-pequenio {
        display: flex;
    }
}

@media only screen and (min-width: 1536px) {
    #productos-pequenio {
        display: none;
    }
}
