body {
    background-color: #f5f0e9;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo_div {
    background-color: white;
}

.logo {
    display: block;
    margin: auto;
}

header {
    min-height: 50px;
}

footer {
    padding-top: 20px;
    min-height: 50px;
    text-align: center;
    background-color: #9cff8f;
}

article {
    flex: 1;
}

@media only screen and (max-width: 780px) {
    #mapa_contact {
        width:400px;
        height:300px;
    }
}

@media only screen and (min-width: 781px) {
    #mapa_contact {
        width:600px;
        height:450px;
    }
}

/*
@media only screen and (max-width: 640px) {
    body {
        background-color: gray;
    }
    #login {
        text-align: center;
    }
}
*/
