body {
    background-color: #f5f0e9;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo_div {
    background-color: white;
}

.logo {
    display: block;
    margin: auto;
}

.logo_header {
    height: 100px;
    width: 100px;
}

.logo_link {
    display:block;
    width:100px;
    position:relative;
}

header {
    min-height: 50px;
    background-color: #9cff8f;
}

footer {
    padding-top: 20px;
    min-height: 50px;
    text-align: center;
    background-color: #9cff8f;
}

article {
    flex: 1;
}

@media only screen and (max-width: 640px) {
    body {
        background-color: gray;
    }
    #login {
        text-align: center;
    }
}
