.acercar {
    width: 170px;
    transition: width 0.15s, height 0.15s;
}

.acercar:hover {
    width: 200px;
}

@media only screen and (max-width: 800px) {
    #productos-grande {
        display: none;
    }
    #productos-pequenio {
        display: flex;
    }
}

@media only screen and (min-width: 800px) {
    #productos-pequenio {
        display: none;
    }
}

#producto {
    transition: width 0.15s, height 0.15s;
}

#producto:hover {
    width: 80px;
    height: 80px;
}

#imgproducto {
    transition: brightness 0.15s;
}

#imgproducto:hover {
    filter: brightness(150%);
}

#crearpizza {
    transition: font-size 0.15s, color 0.15s;
}

#crearpizza:hover {
    font-size: 30px;
    color: blue;
}

#boton:hover {
    filter: brightness(75%);
}
