#pagado:hover {
    background-color: green;
}

@media only screen and (max-width: 800px) {
    #reservas-grande {
        display: none;
    }
    #reservas-pequenio {
        display: flex;
    }
}

@media only screen and (min-width: 800px) {
    #reservas-pequenio {
        display: none;
    }
}

@media only screen and (max-width: 1049px) {
    #productos-grande {
        display: none;
    }
    #productos-pequenio {
        display: flex;
    }
}

@media only screen and (min-width: 1050px) {
    #productos-pequenio {
        display: none;
    }
}

@media only screen and (max-width: 1029px) {
    #eventos-grande {
        display: none;
    }
    #eventos-pequenio {
        display: flex;
    }
}

@media only screen and (min-width: 1030px) {
    #eventos-pequenio {
        display: none;
    }
}

@media only screen and (max-width: 1299px) {
    #recibos-grande {
        display: none;
    }
    #recibos-pequenio {
        display: flex;
    }
}

@media only screen and (min-width: 1300px) {
    #recibos-pequenio {
        display: none;
    }
}
