@media only screen and (max-width: 1671px) {
    .aprovecha_ofertas {
        font-size: 25px;
    }

    .canjea_pizzacoins {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1672px) {
    .aprovecha_ofertas {
        font-size: 33px;
    }

    .canjea_pizzacoins {
        font-size: 33px;
    }
}

@media only screen and (max-width: 1195px) {
    .nuestra_carta_btn {
        font-size: 40px;
    }

    .haz_pedido_btn {
        font-size: 40px;
    }
}

@media only screen and (min-width: 1196px) {
    .nuestra_carta_btn {
        font-size: 50px;
    }

    .haz_pedido_btn {
        font-size: 50px;
    }
}

@media only screen and (max-width: 1100px) {
    #prom_y_of {
        display: none;
    }

    #prom_y_of_res {
        display: block;
    }

    #carta_y_pedido {
        display: none;
    }

    #carta_y_pedido_res {
        display: block;
    }

    #visitanos {
        display: block;
    }

    #localizacion {
        margin-bottom: 50px;
    }
}

@media only screen and (min-width: 1101px) {
    #prom_y_of {
        display: flex;
    }

    #prom_y_of_res {
        display: none;
    }

    #carta_y_pedido {
        display: flex;
    }

    #carta_y_pedido_res {
        display: none;
    }

    #visitanos {
        display: flex;
    }

    #localizacion {
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 571px) {
    #mapa {
        width: 400px;
        height: 200px;
    }
}

@media only screen and (min-width: 572px) {
    #mapa {
        width: 500px;
        height: 300px;
    }
}
