body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.logo_header {
    height: 100px;
    width: 100px;
}

.logo_link {
    display:block;
    width:100px;
    position:relative;
}

header {
    min-height: 50px;
    background-color: #9cff8f;
}

footer {
    padding-top: 20px;
    min-height: 50px;
    text-align: center;
    background-color: #9cff8f;
}

article {
    flex: 1;
}

.contenido {
    padding: 20px;
}
